.chardetail-container {
    /* width: 200px; */
  &__title {
  }

  &__div {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    height: 200px;
    width: 200px;
    overflow-y: auto;
    &--detail {
      margin: 10px;
    }
  }
}