.detail {
  /* width: 200px; */

  &-title {
    font-size: 22px;
  }
  &-div {
    margin-top: 27px;
    font-family: "Franklin Gothic", "Arial Narrow", Arial, sans-serif;
    font-weight: lighter;
    height: 200px;
    width: 245px;
    overflow-y: auto;
    &__detail {
      margin-bottom: 15px;
    }
  }
}
