.navbar {
  width: 100%;
  background-color: transparent;
  font-size: 30px;
  &-ul {
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;

    .active{
      text-decoration: underline;
    }
  }
}