.figure{
    margin-top: 50px;
    &-div{
        height: 427px;
        overflow: hidden;
        &__img{

        }
    }
    &-caption{

    }
}



.div-details{
    width: 80vw;
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}