@font-face {
  font-family: got;
  src: url(../public/Game_of_Thrones.ttf);
}

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'got', sans-serif;
  background-color: black;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: whitesmoke;
}
