@import "~bootstrap/scss/bootstrap-grid";

@font-face {
  font-family: got;
  src: url(../public/Game_of_Thrones.ttf);
}

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'got', sans-serif;
  background-color: black;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: whitesmoke;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: whitesmoke; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: whitesmoke; 
}