.div-btn{
    &__esp{
        background-color: transparent;
        border: transparent;
        margin: 0 29px;
    }
    &__uk{
        background-color: transparent;
        border: transparent;
    }
}